@implements IDisposable

<h1>@Title</h1>

<p>Current Count: @CurrentCount</p>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int CurrentCount { get; set; }


    protected override void OnInitialized() { Console.WriteLine($"OnInitialised => Title: {Title}, CurrentCount: {CurrentCount}"); }

    protected override void OnParametersSet() { Console.WriteLine($"OnParametersSet => Title: {Title}, CurrentCount: {CurrentCount}"); }

    protected override bool ShouldRender() => false;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Console.WriteLine("This is the first render");
        }
    }

    public void Dispose()
    {
        Console.WriteLine("Component removed from the parent's render tree.");
    }
}