<h3>Home</h3>
<div style="text-align: center">
    <h1 style="color: @Colour">
        @Title
    </h1>
    <p>
        @VisitShopContent
    </p>
    <p>
        <img @attributes="AdditionalAttributes" class="img-fluid"/>
    </p>
</div>
