@page "/"
@using BlazorProducts.Client.Componets
<Home Title="Welcome to the BlazorProducts.Client Application."
      @attributes="AdditionalAttributes">
    <VisitShopContent>
        Feel free to
        <a href="https://www.redbubble.com" target="_blank">Visit our shop</a>
        anytime you want
    </VisitShopContent>
</Home>

@code
{
    public Dictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>
    {
        {"src", "/assets/products.png"},
        {"alt", "Products image for the home component"}
    };
}